# Ignore ssh files we don't want to track. Although we might want to track
# known_hosts?
dot.ssh/known_hosts
dot.ssh/id_*
# Ignore everything in dot.xmonad, exept xmonad.hs
dot.xmonad/*
!dot.xmonad/xmonad.hs
